In [103]:
import numpy as np
import pandas as pd
import random as r
from pandas import DataFrame, Series
from pandas_datareader import data as web


data = pd.read_csv("Breast-cancer-wisconsin-1.csv")
data

,Scn,A2,A3,A4,A5,A6,A7,A8,A9,A10,CLASS,Unnamed: 11,Unnamed: 12
0,1000025,5,1,1,1,2,1,3,1,1,2,NaN,NaN
1,1002945,5,4,4,5,7,10,3,2,1,2,NaN,NaN
2,1015425,3,1,1,1,2,2,3,1,1,2,NaN,NaN
3,1016277,6,8,8,1,3,4,3,7,1,2,NaN,NaN
4,1017023,4,1,1,3,2,1,3,1,1,2,NaN,NaN
5,1017122,8,10,10,8,7,10,9,7,1,4,NaN,NaN
6,1018099,1,1,1,1,2,10,3,1,1,2,NaN,NaN
7,1018561,2,1,2,1,2,1,3,1,1,2,NaN,NaN
8,1033078,2,1,1,1,2,1,1,1,5,2,NaN,NaN
9,1033078,4,2,1,1,2,1,2,1,1,2,NaN,NaN
10,1035283,1,1,1,1,1,1,3,1,1,2,NaN,NaN
11,1036172,2,1,1,1,2,1,2,1,1,2,NaN,NaN
12,1041801,5,3,3,3,2,3,4,4,1,4,NaN,NaN
13,1043999,1,1,1,1,2,3,3,1,1,2,NaN,NaN
14,1044572,8,7,5,10,7,9,5,5,4,4,NaN,NaN
15,1047630,7,4,6,4,6,1,4,3,1,4,NaN,NaN
16,1048672,4,1,1,1,2,1,2,1,1,2,NaN,NaN
17,1049815,4,1,1,1,2,1,3,1,1,2,NaN,NaN
18,1050670,10,7,7,6,4,10,4,1,2,4,NaN,NaN
19,1050718,6,1,1,1,2,1,3,1,1,2,NaN,NaN
20,1054590,7,3,2,10,5,10,5,4,4,4,NaN,NaN
21,1054593,10,5,5,3,6,7,7,10,1,4,NaN,NaN
22,1056784,3,1,1,1,2,1,2,1,1,2,NaN,NaN
23,1057013,8,4,5,1,2,?,7,3,1,4,NaN,NaN
24,1059552,1,1,1,1,2,1,3,1,1,2,NaN,NaN
25,1065726,5,2,3,4,2,7,3,6,1,4,NaN,NaN
26,1066373,3,2,1,1,1,1,2,1,1,2,NaN,NaN
27,1066979,5,1,1,1,2,1,2,1,1,2,NaN,NaN
28,1067444,2,1,1,1,2,1,2,1,1,2,NaN,NaN
29,1070935,1,1,3,1,2,1,1,1,1,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,1350423,5,10,10,8,5,5,7,10,1,4,NaN,NaN
670,1352848,3,10,7,8,5,8,7,4,1,4,NaN,NaN
671,1353092,3,2,1,2,2,1,3,1,1,2,NaN,NaN
672,1354840,2,1,1,1,2,1,3,1,1,2,NaN,NaN
673,1354840,5,3,2,1,3,1,1,1,1,2,NaN,NaN
674,1355260,1,1,1,1,2,1,2,1,1,2,NaN,NaN
675,1365075,4,1,4,1,2,1,1,1,1,2,NaN,NaN
676,1365328,1,1,2,1,2,1,2,1,1,2,NaN,NaN
677,1368267,5,1,1,1,2,1,1,1,1,2,NaN,NaN
678,1368273,1,1,1,1,2,1,1,1,1,2,NaN,NaN
679,1368882,2,1,1,1,2,1,1,1,1,2,NaN,NaN
680,1369821,10,10,10,10,5,10,10,10,7,4,NaN,NaN
681,1371026,5,10,10,10,4,10,5,6,3,4,NaN,NaN
682,1371920,5,1,1,1,2,1,3,2,1,2,NaN,NaN
683,466906,1,1,1,1,2,1,1,1,1,2,NaN,NaN
684,466906,1,1,1,1,2,1,1,1,1,2,NaN,NaN
685,534555,1,1,1,1,2,1,1,1,1,2,NaN,NaN
686,536708,1,1,1,1,2,1,1,1,1,2,NaN,NaN
687,566346,3,1,1,1,2,1,2,3,1,2,NaN,NaN
688,603148,4,1,1,1,2,1,1,1,1,2,NaN,NaN
689,654546,1,1,1,1,2,1,1,1,8,2,NaN,NaN
690,654546,1,1,1,3,2,1,1,1,1,2,NaN,NaN
691,695091,5,10,10,5,4,5,4,4,1,4,NaN,NaN
692,714039,3,1,1,1,2,1,1,1,1,2,NaN,NaN
693,763235,3,1,1,1,2,1,2,1,2,2,NaN,NaN
694,776715,3,1,1,1,3,2,1,1,1,2,NaN,NaN
695,841769,2,1,1,1,2,1,1,1,1,2,NaN,NaN
696,888820,5,10,10,3,7,3,8,10,2,4,NaN,NaN
697,897471,4,8,6,4,3,4,10,6,1,4,NaN,NaN
698,897471,4,8,8,5,4,5,10,4,1,4,NaN,NaN